.specie-list-wrapper h1 {
  font-size: 1.8rem;
}
.specie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.specie-list li {
  list-style: none;
  border: 1px solid #cccccc;
  border-radius: 5rem;
  padding: 1rem;
}

.specie-list h3 {
  margin-top: 0;
  text-transform: capitalize;
}